body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #204d91;
}

.container {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  max-height: 500px;
  height: auto;
  box-sizing: border-box;
}

.container h1 {
  margin-top: 0;
  font-size: 24px;
}

.input-field-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  width: 100%;
}

.input-field-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.signup-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 15px;
  font-size: 18px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.signup-button:hover {
  background-color: #2980b9;
}

form {
  display: none;
}

.active-form {
  display: block;
}

.switch-form {
  margin-top: 10px;
  font-size: 14px;
}

a {
  color: #3498db;
  text-decoration: none;
}

/* Media query for screens up to 600px wide */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}

.error-message {
  color: red;
  font-size: 14px;
  display: none;
  margin-top: 5px;
}
